* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.web {
    width: 80%;
    height: 950px;
    border: 1px solid lightgrey;
    justify-content: center;
    margin-left: 8.5%;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.PhysicalAtributes {
    width: 40%;
    height: 269px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 6%;
    float: left;
    margin-right: 5%;
    
}
.buttons {
    border-radius: 10px;
    height: 50px;
    width: 85%;
    margin-top: 5px;
    margin-left: 6%;
    float: left;
    padding-left: 25px;    
}

.pokemon {
    margin-top: 10px;
    height: 200px;
    width: 85%;
    margin-left: 6%;
    float: left;
    background-color: #fccc;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

   

.Description {
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-top: 5px;
    height: 100px;
    width: 85%;
    margin-left: 6%;
    float: left;
    margin-bottom: 5px;
}

#Physical,
.EvolutionChain h3,
#Evo ,
#stats {
  padding: 25px 0px 10px 25px;
  font-size: 20px;
  font-weight: bold;    
}


.Height {
    height: 50px;
    width: 50%;
    float: left;
    padding-left: 25px;
}
.Weight {
    height: 50px;
    width: 50%;
    float: left;
}
.Abilites {
    height: 125px;
    width: 50%;
    float: left;
    padding-left: 25px;
    padding-top: 5px;
}
.BaseExperience {
    height: 125px;
    width: 50%;
    float: left;
    padding-top: 5px;
}

.BaseStats {
    width: 40%;
    height: 270px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
   
}
.BaseStats p {
    padding-left: 25px;
}

.Moves {
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-top: 5px;
    height: auto;
    width: 85%;
    margin-left: 6%;
    float: left;
    margin-top: -2px;

}

.photo {
    width: 14%;
    float: left;
    height: 100%;

  
}
.photo img {
   height: 175px;
   width: 175px;
   margin-left: 10px;
   margin-top: 10px;
    
}
.name {
    float: left;
    height: 100%;
    width: 79%;
    padding-top:4%;
}

#pokemon-id {
    color: gray;
    padding-left:1px;
    padding-bottom: 15px;

  }
  
#pokemon-name {
    font-size: 30px;
    font-weight: bold;
  }
.extra-button {
    width: 50%;
    float: left;
    border-radius: 10px;
}

.buttons-container {
    float: right;
}
.extra-button button {
    color: red;
    padding-left: 50px;
    font-size: 15px;
    margin-top: 5px;
    border: 0;
    background-color: white;
}
.buttons-container button {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    width: 95px;

}
.EvolutionChain {
    margin-top: 60px;
    margin-bottom: 10px;
    height: 150px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-top: 5px;

      width: 85%;
      margin-left: 6%;
      float: left;
  }
  
.evolution-images {
    display: flex;

    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
.evolution {
    text-align: center; 
}
.evolution img {
    width: 90px;
    height: 90px;
    cursor: pointer;
    margin-top: 15px;
}

#Evo {
    float: left;
    width: 35.5%;
}


.Moves p{
    float: left;
    width: 100px;
}
.moves-table {
    border-collapse: collapse;
    width: 85%;
    margin-top: 10px; 
    font-size: 11px;
    float: right;
}
  
.moves-table td {
    padding: 10px; 
    text-align: center;
}

button {
    margin-top: 10px; 
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
}
.highlight {
  background-color: pink;
  padding: 5px;
   
}

.Description p {
    font-size: 16px;
    padding-left: 25px;
    color: grey
}
#Desc{
    padding: 25px 0 0 25px; 
    margin-bottom: 10px;
    font-weight: bold;  
    color: black
}
  .pokemon-id {
    position: relative; 
    left: 44%;
    color: gray;
  }
  
  .pokemon-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    padding: 20px;
    width: 100px; 
    justify-content: center;
    justify-items: center; 
    margin: 0 auto; 
  }
  
  
  .pokemonitem {
    display: fle;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 350px;
    height: 200px;
}
  
  .top {
    background-color: #fdeced;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  
  .top img {
    height: 100px;
  }
  
  .bottom {
    height: 70px;
    text-align: center;
    padding-top: 25px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
  }
  
  .pagination {
    text-align: center;
    margin-bottom: 20px;

  }
  
  .pagination button {
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ddd;
  }
  

  #pokemonname {
    font-family: Arial, sans-serif;
    font-size: 17px;  
    font-weight: bold;  
    color: #333;  
    text-transform: capitalize; 
    text-align: center; 
  }

  
  button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }
  
  .active-button {
border: 1px solid red;
border-radius: 10px;
    
  }
  #grey {
    color: grey; 
  }

  
  
  .stat-name {
font-size: 15px;
    position: relative;
    float: left;
    width: 50%;
    padding-left: 5px;
  }
 
  .belt {
    display: flex;
    width: 570px; 
    background-color: #ddd;
    border-radius: 10px; 
    margin: 5px;
  }
  
  .belt .filled {
    height: 10px; 
    background-color: red;

  }
  
  .belt .empty {
    height: 10px; 
   background-color: lightgray;
  }
  
  .stat-value {

    position: relative;
    text-align: right;
    font-size: 16px;
    float: left;
    width: 50%;
    padding-right: 15px;
  }

#movesbutton {
   float: left;
   width: 100px;
   margin-left: 25px;
  
  }

  #arrow {
    font-size: 25px;
    color: grey;
  }
  

/* Responsywność na tablety (max-width: 1024px) */
@media (max-width: 1024px) {
  .pokemon-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1024px;
  }

  /* Responsywność dla pokemon-search na tabletach */
  .pokemon-search {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
}

/* Responsywność na telefony (max-width: 768px) */
@media (max-width: 768px) {
  .pokemon-grid {
    display: block;
    width: 100%;
    padding: 10px;
  }

  /* Responsywność dla pokemon-search na telefonach */
  .pokemon-search {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
}

